{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Book Taxi - online | Skybluetaxi</title>
		<!-- Stylesheets -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'plugins/revolution/css/settings.css' %}" rel="stylesheet" type="text/css" />
		<!-- REVOLUTION SETTINGS STYLES -->
		<link href="{% static 'plugins/revolution/css/layers.css' %}" rel="stylesheet" type="text/css" />
		<!-- REVOLUTION LAYERS STYLES -->
		<link href="{% static 'plugins/revolution/css/navigation.css' %}" rel="stylesheet" type="text/css" />
		<!-- REVOLUTION NAVIGATION STYLES -->

		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'css/custom-style.css' %}" rel="stylesheet" />
		<link href="{% static 'css/calendar.css' %}" rel="stylesheet" />
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
		<link href="{% static 'css/custom-responsive.css' %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'js/toastr-master/toastr.css' %}" type="text/css">

		<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
		<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


		<!-- Responsive -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
		<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
		<style>
 table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: red;
      color: white;
    }

	 /* Styling for the tab menu */
    .tab {
      overflow: hidden;
      background-color: #f1f1f1;
    }

    /* Style for the tab links */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
    }

    /* Change the background color of the active tab link */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style for the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }

{% comment %} .disabled-2fa{
    pointer-events: none;
    text-decoration: none;
    cursor: default;
    opacity: 0.5;
} {% endcomment %}

</style>
	</head>

	<body>
		<div class="page-wrapper">
			<!-- Preloader -->
			<div class="preloader"></div>

            			<!-- Main Header-->
			<header class="main-header header-style-one disabled-2fa">
				<!-- Header Top -->
				<div class="header-top">
					<div class="top-left">
						<!-- Info List -->
						<ul class="list-style-one">
							<li><i class="fa fa-map-marker-alt"></i> 380 St Kilda Road, Australia</li>
							<li><i class="fa fa-clock"></i> Mon - Sat: 8am - 5pm</li>
							<li><i class="fa fa-phone-volume"></i> <a href="tel:+92(8800)87890">+92 (8800) 87890</a></li>
						</ul>
					</div>

					<div class="top-right">
						<ul class="social-icon-one">
							<li>
								<a href="#"><span class="fab fa-facebook-square"></span></a>
							</li>
							<li>
								<a href="#"><span class="fab fa-twitter"></span></a>
							</li>
							<li>
								<a href="#"><span class="fab fa-pinterest-p"></span></a>
							</li>
							<li>
								<a href="#"><span class="fab fa-instagram"></span></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Header Top -->

				<!-- Header Lower -->
			{% if  request.COOKIES.user_id %}	
				<div class="header-lower">
					<!-- Main box -->
					<div class="main-box">
						<div class="logo-box">
							<div class="logo">
								<!-- <a href="index.html"><img src="images/logo.png" alt="" title="Tronis" /></a> -->
								<a href="{% url 'index' %}"><h4>SkyblueTaxi</h4></a>
							</div>
						</div>

						<!--Nav Box-->
						<div class="nav-outer">
							<nav class="nav main-menu">
								<ul class="navigation">
									{% if  request.COOKIES.user_level == '1' %}
										<li><a href="{% url 'available_rides' %}">Available rides </a></li>
									{% endif %}	
									<li><a href="{% url 'myrides' %}">My rides</a></li>
									<li><a href="#">Ride Changes</a></li>
									<li><a href="{% url 'billing' %}">Billing</a></li>
									<li><a href="{% url 'faq' %}">Frequently Asked Questions</a></li>
									<li><a href="{% url 'institutions' %}">Institutions</a></li>
								</ul>
							</nav>
							<!-- Main Menu End-->

							<div class="outer-box">
								<a href="#" class="ui-btn"><i class="lnr-icon-shopping-cart"></i></a>
								<!-- Mobile Nav toggler -->
								{% if  request.COOKIES.user_id %}
								<div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
								<div class="dropdown user-btn">
									<i onclick="myFunction()" class="dropbtn ui-btn me-lg-4 fa fa-user"></i>
									<div id="myDropdown" class="dropdown-content">
									  <span class="d-block bg-light py-2 px-3 w-100">
										<h6 class="my-3">{{first_name}} {{last_name}}</h6>
										<!-- <p class="mb-0">jm@softplus.com</p> -->
										<!-- <div class="sec-title p-0 mb-0">
											<span class="sub-title font-size-11">jm@softplus.com</span>
										</div> -->
									  </span>	
									  <a href="{% url 'available_rides' %}">Available Rides <i class="fa fa-angle-right float-end"></i></a>
									  <a href="{% url 'myrides' %}">My Rides <i class="fa fa-angle-right float-end"></i></a>
									  <a href="{% url 'institutions' %}">Institutions <i class="fa fa-angle-right float-end"></i></a>
									  <a href="{% url 'logout' %}">Logout</a>
									</div>
								  </div>
								  {% else %}
								<a href="javascript:;" class="theme-btn btn-style-one m-0 ms-3 login-btn login_popup">
									<span class="btn-title">Login</span>
								</a>
								{%  endif %}


							</div>
						</div>
					</div>
				</div>
				{% else %}
				<div class="header-lower">
					<!-- Main box -->
					<div class="main-box">
						<div class="logo-box">
							<div class="logo">
								<!-- <a href="index.html"><img src="images/logo.png" alt="" title="Tronis" /></a> -->
								<a href="{% url 'index' %}"><h4>SkyblueTaxi</h4></a>
							</div>
						</div>

						<!--Nav Box-->
						<div class="nav-outer">
							<nav class="nav main-menu">
								<ul class="navigation">
									<li class="current dropdown">
										<a href="index.html">Our Services</a>
										<ul>
											<li><a href="#">Local taxi services </a></li>
											<li><a href="#">Airport taxi </a></li>
											
										</ul>
									</li>
									<li><a href="#">Business </a></li>
									
									<li><a href="{% url 'about-us' %}">About Us</a></li>
									
									<li><a href="#">For Taxi Companies</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
							<!-- Main Menu End-->

							<div class="outer-box">
								<button class="ui-btn ui-btn search-btn">
									<span class="icon lnr lnr-icon-search"></span>
								</button>

								<a href="#" class="ui-btn"><i class="lnr-icon-shopping-cart"></i></a>

								<!-- Mobile Nav toggler -->
								{% if  request.COOKIES.user_id %}
								<div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
								<div class="dropdown user-btn">
									<i onclick="myFunction()" class="dropbtn ui-btn me-lg-4 fa fa-user"></i>
									<div id="myDropdown" class="dropdown-content">
									  <span class="d-block bg-light py-2 px-3 w-100">
										<h6 class="my-3">{{first_name}} {{last_name}}</h6>
										<!-- <p class="mb-0">jm@softplus.com</p> -->
										<!-- <div class="sec-title p-0 mb-0">
											<span class="sub-title font-size-11">jm@softplus.com</span>
										</div> -->
									  </span>	
									  <a href="{% url 'available_rides' %}">Available Rides <i class="fa fa-angle-right float-end"></i></a>
									  <a href="{% url 'myrides' %}">My Rides <i class="fa fa-angle-right float-end"></i></a>
									  <a href="#">Institutions <i class="fa fa-angle-right float-end"></i></a>
									  <a href="{% url 'logout' %}">Logout</a>
									</div>
								  </div>
								  {% else %}
								<a href="javascript:;" class="theme-btn btn-style-one m-0 ms-3 login-btn login_popup">
									<span class="btn-title">Login</span>
								</a>
								{%  endif %}


							</div>
						</div>
					</div>
				</div>
			{% endif %}	
				<!-- End Header Lower -->

				<!-- Mobile Menu  -->
				<div class="mobile-menu">
					<div class="menu-backdrop"></div>

					<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
					<nav class="menu-box">
						<div class="upper-box">
							<div class="nav-logo">
								<!-- <a href="index.html"><img src="images/logo-2.png" alt="" title="Fesho" /></a> -->
								<a href="index.html"><h4>SkyblueTaxi</h4></a>
							</div>
							<div class="close-btn"><i class="icon fa fa-times"></i></div>
						</div>

						<ul class="navigation clearfix">
							<!--Keep This Empty / Menu will come through Javascript-->
						</ul>
						<ul class="contact-list-one">
							<li>
								<!-- Contact Info Box -->
								<div class="contact-info-box">
									<i class="icon lnr-icon-phone-handset"></i>
									<span class="title">Call Now</span>
									<a href="tel:+92880098670">+92 (8800) - 98670</a>
								</div>
							</li>
							<li>
								<!-- Contact Info Box -->
								<div class="contact-info-box">
									<span class="icon lnr-icon-envelope1"></span>
									<span class="title">Send Email</span>
									<a href="mailto:help@company.com">help@company.com</a>
								</div>
							</li>
							<li>
								<!-- Contact Info Box -->
								<div class="contact-info-box">
									<span class="icon lnr-icon-clock"></span>
									<span class="title">Send Email</span>
									Mon - Sat 8:00 - 6:30, Sunday - CLOSED
								</div>
							</li>
						</ul>

						<ul class="social-links">
							<li>
								<a href="#"><i class="fab fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fab fa-facebook-f"></i></a>
							</li>
							<li>
								<a href="#"><i class="fab fa-pinterest"></i></a>
							</li>
							<li>
								<a href="#"><i class="fab fa-instagram"></i></a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- End Mobile Menu -->

				<!-- Header Search -->
				<div class="search-popup">
					<span class="search-back-drop"></span>
					<button class="close-search"><span class="fa fa-times"></span></button>

					<div class="search-inner">
						<form method="post" action="index.html">
							<div class="form-group">
								<input type="search" name="search-field" value="" placeholder="Search..." required="" />
								<button type="submit"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</div>
				</div>
				<!-- End Header Search -->

				<!-- Sticky Header  -->
				<div class="sticky-header">
					<div class="auto-container">
						<div class="inner-container">
							<!--Logo-->
							<div class="logo">
								<!-- <a href="index.html" title=""><img src="images/logo.png" alt="" title="" /></a> -->
								<a href="index.html"><h4>SkyblueTaxi</h4></a>
							</div>

							<!--Right Col-->
							<div class="nav-outer">
								<!-- Main Menu -->
								<nav class="main-menu">
									<div class="navbar-collapse show collapse clearfix">
										<ul class="navigation clearfix">
											<!--Keep This Empty / Menu will come through Javascript-->
										</ul>
									{% if  request.COOKIES.user_id %}
										<div class="dropdown user-btn">
											<i onclick="myFunction()" class="dropbtn ui-btn me-lg-4 fa fa-user"></i>
											<div id="myDropdown" class="dropdown-content">
											<span class="d-block bg-light py-2 px-3 w-100">
												<h6 class="my-3">{{request.COOKIES.full_name}}</h6>
												<!-- <p class="mb-0">jm@softplus.com</p> -->
												<!-- <div class="sec-title p-0 mb-0">
													<span class="sub-title font-size-11">jm@softplus.com</span>
												</div> -->
											</span>
											<a href="{% url 'available_rides' %}">Available Rides <i class="fa fa-angle-right float-end"></i></a>
											<a href="#">My Rides <i class="fa fa-angle-right float-end"></i></a>
											<a href="{% url 'institutions' %}">Institutions <i class="fa fa-angle-right float-end"></i></a>
											<a href="{% url 'logout' %}">Logout</a>
											</div>
										</div>
										{% else %}
										<a href="javascript:;" class="theme-btn btn-style-one ms-3 login-btn login_popup">
											<span class="btn-title">Login</span>
										</a>
										{% endif %}
									</div>
								</nav>
								<!-- Main Menu End-->

								<!--Mobile Navigation Toggler-->
								<div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Sticky Menu -->
			</header>
			<!--End Main Header -->


            {% block content %}
            {% endblock %}


			<!-- Main Footer -->
			<footer class="main-footer disabled-2fa">
				<div class="bg-image" style="background-image: url(images/background/5.jpg)"></div>
				<div class="anim-icons">
					<span class="icon icon-plane-3 bounce-x"></span>
				</div>

				<!-- Contact info -->
				<div class="contacts-outer">
					<div class="auto-container">
						<div class="row">
							<!-- Contact Info Block -->
							<div class="contact-info-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight">
								<div class="inner-box">
									<div class="icon-box"><i class="icon flaticon-international-shipping-2"></i></div>
									<h4 class="title">Address</h4>
									<div class="text">30 St Kilda Road, Jackson Store, Australia</div>
								</div>
							</div>

							<!-- Contact Info Block -->
							<div class="contact-info-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="300ms">
								<div class="inner-box">
									<div class="icon-box"><i class="icon flaticon-stock-1"></i></div>
									<h4 class="title">Contact</h4>
									<div class="text">
										<a href="mailto:needhelp@company.com">needhelp@company.com</a>
										<a href="tel:+92(8800)48720">+92 (8800) 48720</a>
									</div>
								</div>
							</div>

							<!-- Contact Info Block -->
							<div class="contact-info-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="600ms">
								<div class="inner-box">
									<div class="icon-box"><i class="icon flaticon-24-hours-2"></i></div>
									<h4 class="title">Timing</h4>
									<div class="text">Mon - Sat: 8 am - 5 pm, Sunday: CLOSED</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Contact info -->

				<!--Widgets Section-->
				<div class="widgets-section">
					<div class="auto-container">
						<div class="row">
							<!--Footer Column-->
							<div class="footer-column col-xl-3 col-lg-12 col-md-6 col-sm-12">
								<div class="footer-widget about-widget">
									<div class="logo">
										<a href="index.html"><img src="images/logo-2.png" alt="" /></a>
									</div>
									<div class="text">We work with a passion of taking challenges and creating new ones in advertising sector.</div>
									<a href="{% url 'about-us' %}" class="theme-btn btn-style-one hvr-light small"><span class="btn-title">About</span></a>
								</div>
							</div>

							<!--Footer Column-->
							<div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-12">
								<div class="footer-widget">
									<h3 class="widget-title">Service</h3>
									<ul class="user-links">

										<li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
									<li><a href="{% url 'terms-condition' %}">Terms & Condition</a></li>
									<li><a href="{% url 'faq' %}">FAQ</a></li>
								
									</ul>
								</div>
							</div>

			

							
						</div>
					</div>
				</div>

				<!--Footer Bottom-->
				<div class="footer-bottom">
					<div class="auto-container">
						<div class="inner-container">
							<div class="copyright-text">
								<p>&copy; Copyright 2022 by <a href="index.html">Company.com</a></p>
							</div>

							<ul class="social-icon-two">
								<li>
									<a href="#"><i class="fab fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fab fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fab fa-pinterest"></i></a>
								</li>
								<li>
									<a href="#"><i class="fab fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
			<!--End Main Footer -->
		</div>
		<!-- End Page Wrapper -->

		<!-- Scroll To Top -->
		<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

		<!-- Modal -->
		<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
			<div class="modal-body p-5">
				<div class="dynamic_area"></div>
			</div>
			</div>
			</div>
		</div>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.fancybox.js' %}"></script>
		<script src="{% static 'js/jquery-ui.js' %}"></script>
		<script src="{% static 'js/wow.js' %}"></script>
		<script src="{% static 'js/appear.js' %}"></script>
		<script src="{% static 'js/select2.min.js' %}"></script>
		<script src="{% static 'js/swiper.min.js' %}"></script>
		<script src="{% static 'js/owl.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script src="{% static 'js/calendar.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/api/base_api_handler.js' %}"></script>
		<script src="{% static 'js/toastr-master/toastr.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/api/function.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/api/login.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/api/myrides.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/api/verify.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/api/forgot_password.js' %}"></script>

</body>
</html>
<script>
	var domain_url = "{{domain_url}}";
	var session_user_id = getCookie("session_user_id");;
	var access_token = getCookie("access_token");
	var user_id = getCookie("user_id");
	var get_postal_code = "{{postal_code}}";
	var get_user_level =  getCookie("user_level");
	var institution_checker =  getCookie("institution_checker");
	var login_email_local_storage = localStorage.getItem('login_email_local_storage');
	$(".btn_second_step").attr("user_id", user_id);
	$(".btn_second_step").attr("get_user_level", get_user_level);
	$('.login_email_local_storage').val(login_email_local_storage)

	function  showmessage(shortCutFunction, msg,title) {
        var shortCutFunction =shortCutFunction;
        var title = title;
        var msg = msg;
        var $toast = toastr[shortCutFunction](msg, title);
    }

    toastr.options = {
        tapToDismiss: false
        , extendedTimeOut: 0
        , allowHtml: true
        , preventDuplicates: true
        , preventOpenDuplicates: true
        , newestOnTop: true
        , closeButton: true
        , closeHtml: ''
    }

	/* When the user clicks on the button, 
	toggle between hiding and showing the dropdown content */
	function myFunction() {
	  document.getElementById("myDropdown").classList.toggle("show");
	}
	
	// Close the dropdown if the user clicks outside of it
	window.onclick = function(event) {
	  if (!event.target.matches('.dropbtn')) {
		var dropdowns = document.getElementsByClassName("dropdown-content");
		var i;
		for (i = 0; i < dropdowns.length; i++) {
		  var openDropdown = dropdowns[i];
		  if (openDropdown.classList.contains('show')) {
			openDropdown.classList.remove('show');
		  }
		}
	  }
	}

function del_cookie(name) {
	var csrftoken = $('meta[name=csrf-token]').attr('content');
    $.ajax({
            url: "/signout",
             method: "POST",
            data: {'user_id': user_id},
            success: function(data) {
                if(data.status == 1){
                  document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                  window.location.href = '/';
                }
             },
          error:function(data){
                   console.log('error')
            }
     })
  }	

</script>
{% block external_js %}
<script type="text/javascript" src="{% static 'js/api/get_company_info.js' %}"></script>
{% endblock %}

