{% extends "base.html" %}
{% load static %}
{% block content %}


			<!-- Start main-content -->
	<section class="page-title"  style="background-image: url({%static 'images/background/2.jpg'%});">
		<div class="auto-container">
			<div class="title-outer">
				<h1 class="title">PRIVACY POLICY</h1>
				<ul class="page-breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Pages</a></li>
					<li>PRIVACY POLICY</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

	<!-- FAQ Section -->
	<section class="">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="blog-details__content">
                     
                        <h3 class="blog-details__title">We very careful handling the valuable goods</h3>
                        <p class="blog-details__text-2">Mauris non dignissim purus, ac commodo diam. Donec sit
                            amet lacinia nulla. Aliquam quis purus in justo pulvinar tempor. Aliquam tellus
                            nulla, sollicitudin at euismod nec, feugiat at nisi. Quisque vitae odio nec lacus
                            interdum tempus. Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet
                            pellentesque vitae et nunc. Sed vitae leo vitae nisl pellentesque semper.
                        </p>
                        <p class="blog-details__text-2">Mauris non dignissim purus, ac commodo diam. Donec sit
                            amet lacinia nulla. Aliquam quis purus in justo pulvinar tempor. Aliquam tellus
                            nulla, sollicitudin at euismod nec, feugiat at nisi. Quisque vitae odio nec lacus
                            interdum tempus. Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet
                            pellentesque vitae et nunc. Sed vitae leo vitae nisl pellentesque semper.
                        </p>
                        <p class="blog-details__text-2">Mauris non dignissim purus, ac commodo diam. Donec sit
                            amet lacinia nulla. Aliquam quis purus in justo pulvinar tempor. Aliquam tellus
                            nulla, sollicitudin at euismod nec, feugiat at nisi. Quisque vitae odio nec lacus
                            interdum tempus. Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet
                            pellentesque vitae et nunc. Sed vitae leo vitae nisl pellentesque semper.
                        </p>
                    </div>
				</div>
			</div>
		</div>
	</section>
	<!--End FAQ Section -->

	
		

				

	

					
			
{% endblock %}
{% block external_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa92MP_Iv7GVx4gN7iN7z42cXwAsKFzwY&libraries=places"></script>
<script type="text/javascript" src="{% static 'js/api/map-postal-filter.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

<script>
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
	  return new bootstrap.Tooltip(tooltipTriggerEl)
	})


$(document).on('change','.from_type', function(e, value_trigger){
	var value ='';
	value = $(this).val();
	if (typeof value_trigger === 'undefined') {
		// Perform your desired actions here
		value = value;
	} else {
		value = value_trigger;
	}	
	// Type 2 for Postal Code
	if (value == 2) {
		$('.city_div').hide();
		$('.no_area').show();
		$('.address1_input').show()
		$('.from_airports').addClass('d-none');	
		$('.get_from_postal_code').removeClass('d-none')
		$('.get_from_address_postal_code').addClass('d-none')
		$('.no_area').removeClass('col-4');
		$('.no_area').addClass('col-2');
		$('.address1_input').removeClass('col-7')
		$('.address1_input').addClass('col-6')
		$('.to_type').trigger('change', 2);

	}
	// Type 1 for Airports
	else if (value == 1) {
		if (value_trigger == 1) {
			$('.from_type').val("1")
		}
		$('.city_div').hide();
		$('.no_area').hide();
		$('.address1_input').hide()
		$('.from_airports').removeClass('d-none');	
		$('.get_from_postal_code').addClass('d-none')
		$('.get_from_address_postal_code').addClass('d-none')
		$('.to_type').trigger('change', 3);
	}
	// Type 3 for address
	else {
		if (value_trigger == 3) {
			$('.from_type').val("3")
		}
		$('.city_div').show();
		$('.address1_input').show()
		$('.no_area').show();
		$('.get_from_postal_code').addClass('d-none')
		$('.get_from_address_postal_code').removeClass('d-none')
		$('.get_from_address_postal_code').addClass('d-block')
		$('.no_area').removeClass('col-2');
		$('.no_area').addClass('col-4');
		$('.address1_input').removeClass('col-6')
		$('.address1_input').addClass('col-7')
		$('.from_airports').addClass('d-none');	
		$('.to_type').trigger('change', 1);

	}
})

$(document).on('change','.to_type', function(e, value_trigger){
	var value ='';
	value = $(this).val();
	if (typeof value_trigger === 'undefined') {
		// Perform your desired actions here
		value = value;
	} else {
		value = value_trigger;
	}	
	// Type 3 for address
	if (value == 3) {
		if (value_trigger == 3) {
			$('.to_type').val("3")
		}
		$('.to_airports').addClass('d-none');
		$('.to_city_div').removeClass('d-none');
		$('.address2_input').removeClass('d-none');
		$('.to_no_area').removeClass('d-none');

		$('.get_to_postal_code').removeClass('d-block');
		$('.get_to_postal_code').addClass('d-none');

		$('.from_type').trigger('change', 1);	
	}
	// Type 2 for Postal Code
	else if (value == 2) {
		if (value_trigger == 2) {
			$('.to_type').val("2")
		}
		$('.to_airports').addClass('d-none');
		$('.to_city_div').addClass('d-none');

		$('.get_to_postal_code').removeClass('d-none');
		$('.get_to_postal_code').addClass('d-block');
		$('.get_to_address_postal_code').removeClass('d-block');
		$('.get_to_address_postal_code').addClass('d-none');
		$('.to_no_area').removeClass('d-none');	
		$('.address2_input').removeClass('col-7')
		$('.address2_input').addClass('col-6')
		$('.to_no_area').removeClass('col-4');
		$('.to_no_area').addClass('col-2');
		$('.from_type').trigger('change', 2);	
	}
	// Type 1 for Airports
	else {
		if (value_trigger == 1) {
			$('.to_type').val("1")
		}
		$('.to_airports').removeClass('d-none');
		$('.to_city_div').addClass('d-none');
		$('.address2_input').addClass('d-none');
		$('.to_no_area').addClass('d-none');	
		$('.get_to_postal_code').removeClass('d-block');
		$('.get_to_postal_code').addClass('d-none');
		$('.get_to_address_postal_code').removeClass('d-block');
		$('.get_to_address_postal_code').addClass('d-none');
		$('.from_type').trigger('change', 3);	
	}
})

//

$(document).on('change','.total_passenger', function(e){
	var value =  $(this).val();
	if (value > 4) {
		$('.vehicle_type').val(2)
	} else {
		$('.vehicle_type').val(1)
	}
})

var postal_code_from = '';
var postal_code_to =  '';
$(document).on('click','.caluculate_free', function(e){
	postal_code_from =  $('.from_postal_code').val();
	postal_code_to =  $('.to_postal_code').val();
	$('.caluculate_free').text("Processing..");
	$('.caluculate_free').attr('disabled', true);  
	if (postal_code_from == "") {
		postal_code_from = $('.from_addres').val();
	}
	if (postal_code_to == "") {
		postal_code_to = $('.to_address').val();
	}

	form_data = {
		'postal_code_to' : postal_code_to,
		'postal_code_from': postal_code_from
	}
	if (postal_code_to != "" && postal_code_from != "") {
	caluculate_free(form_data).then(r => '');
	async function caluculate_free(form_data) {
			try {
				const endpoint = 'get_quotation';
				const request_type = 'post';
				const payload = form_data;
				let total_kilometers = 0;
				const response = await request(request_type, payload, endpoint);
				console.log(response)
				if (response.status == 1) {
					showmessage('success',response.developer_message,'Success');
					$('.totalprice').text("$"+response.price);
					$('.reservation_price').val(response.price);
					$('.get_to_location').text(postal_code_to)
					$('.get_from_location').text(postal_code_from)
					total_kilometers = response.total_kilometers;
					if (total_kilometers== null) {
						total_kilometers = 0;
					}
					$('.kilometer').val(total_kilometers)

					setTimeout(function () {
						$('.first_step').removeClass('d-block');
						$('.first_step').addClass('d-none');
						$('.second_step').removeClass('d-none');
						$('.second_step').addClass('d-block');
					}, 3000);

				} else {
					showmessage('error',response.developer_message,'Error');
					$('.caluculate_free').text("Calculate fare");
					$('.caluculate_free').attr('disabled', false);  
				}

			} catch(err) {
				console.log(err);
			}
		}
	} else {
		showmessage('error','Select correct location','Error');
		$('.caluculate_free').text("Calculate fare");
		$('.caluculate_free').attr('disabled', false);  
	}

})



$(document).on('click','.btn_second_step', function(e){
	var pickup_date = $('.pickup_date').val();
	var pickup_time = $('.pickup_time').val();
	if (pickup_date == "") {
		showmessage('error','Select pickup date','Error');
	} else if (pickup_time == "") {
		showmessage('error','Select pickup datetime','Error');
	} else {

		$('.second_step').addClass('d-none');
		$('.third_information').removeClass('d-none');
		$('.third_information').removeClass('d-block');

	}
})

let name = '', email = '', postal_code = '', pickup_date = '',
pickup_time = '', no_of_bags = '', no_of_hand_bags = '',
 driver_comment = '', total_passenger = '', vehicle_type = '',
  is_return = '', flight_number = '', return_pickup_date = '',
   return_pickup_time = '', reservation_by_id = '', reservation_price = '',
    is_reutrn = '', phone = '';

$(document).on('click','.btn_third_step', function(e){
	name = $('.name').val();
	email = $('.email').val();
	postal_code = $('.postal_code').val();
	pickup_date = $('.pickup_date').val();
	pickup_time = $('.pickup_time').val();
	no_of_bags = $('.no_of_bags').val();
	no_of_hand_bags = $('.no_of_hand_bags').val();
	driver_comment = $('.driver_comment').val();
	total_passenger = $('.total_passenger').val();
	vehicle_type = $('.vehicle_type').val();
	is_return = $('.is_return').val();
	flight_number = $('.flight_number').val();
	return_pickup_date = $('.return_pickup_date').val();
	return_pickup_time = $('.return_pickup_time').val();
	reservation_by_id = $('.reservation_by_id').val();
	reservation_price = $('.reservation_price').val();
	let address1_input = $('#address1-input').val();
	let address2_input = $('#address2-input').val();
	is_reutrn = $('.is_reutrn').val();
	phone = $('.phone').val();
	$('.btn_third_step').text("Processing..");
	$('.btn_third_step').attr('disabled', true);

	var driver_comment = $('.driver_comment').val();
	if (name == "") {
		showmessage('error','Add your name','Error');
		$('.btn_third_step').text("Next step");
		$('.btn_third_step').attr('disabled', false);

	} else if (phone == "") {
		showmessage('error','Add your phone','Error');
		$('.btn_third_step').text("Next step");
		$('.btn_third_step').attr('disabled', false);

	} else if (email == "") {
		showmessage('error','Add your email','Error');
		$('.btn_third_step').text("Next step");
		$('.btn_third_step').attr('disabled', false);
	} else if (driver_comment == "") {
		showmessage('error','Add your comment','Error');
		$('.btn_third_step').text("Next step");
		$('.btn_third_step').attr('disabled', false);
	} else {
		$('.third_information').addClass('d-none');
		$('.forth_step').removeClass('d-none');
		$('.forth_step').removeClass('d-block');
		$('.set_pickup_date').text(pickup_date)
		$('.set_pickup_time').text(pickup_time)
		$('.set_from').text(address1_input)
		$('.set_to').text(address2_input)
		$('.set_return_pickup_date').text(return_pickup_date)
		$('.set_return_pickup_time').text(return_pickup_time)
		$('.set_return_from').text()
		$('.set_return_to').text()
		$('.set_person').text(total_passenger)
		$('.set_name').text(name)
		$('.set_phone').text(phone)
		$('.set_email').text(email)
		$('.set_bags').text(no_of_bags)
		$('.set_handbag').text(no_of_hand_bags)
		$('.set_price').text(reservation_price)
	}
})


$(document).on('click','.btn_forth_step', function(e){
	$('.forth_step').addClass('d-none');
	$('.fifth_step').removeClass('d-none');
	$('.fifth_step').removeClass('d-block');

})

$(document).on('click','.is_reutrn', function(e){
	const isChecked = $(this).is(":checked");
	if (isChecked) {
		$('.return_area').removeClass('d-none');
		$('.return_view_area').addClass('d-block')
		$('.return_view_area').removeClass('d-none')
		$('.return_view_area').addClass('d-block')
	} else {
		$('.return_area').addClass('d-none');
		$('.return_view_area').addClass('d-none')
		$('.return_view_area').removeClass('d-block')
		$('.return_view_area').addClass('d-none')
	}
})


$(document).on('click','.fifth_step_btn', function(e){
	let from_postal_code = $('.result1').val();
	let to_postal_code = $('.result2').val();
	let kilometer = $('.kilometer').val();
	$('.fifth_step_btn').text("Processing...");
	$('.fifth_step_btn').attr('disabled', true);
//	$('.fifth_step').addClass('d-none');
	reservation(form_data).then(r => '');
	async function reservation(form_data) {
			try {
				const endpoint = 'reservation';
				const request_type = 'post';
				const payload =  {
                        "postal_code": postal_code,
                        "return_pickup_time": return_pickup_time,
                        "return_pickup_date": return_pickup_date,
                        "is_reutrn": is_reutrn,
                        "driver_comment": driver_comment,
                        "name": name,
                        "vehicle_type": vehicle_type,
                        "pickup_time": pickup_time,
                        "reservation_by_id": 1,
                        "no_of_hand_bags": no_of_hand_bags,
                        "pickup_date": pickup_date,
                        "no_of_bags": no_of_bags,
                        "reservation_price": reservation_price,
                        "flight_number": flight_number,
                        "email": email,
                        "total_passenger": total_passenger,
						"from_postal_code": postal_code_from,
						"to_postal_code": postal_code_to,
						"kilometer" : kilometer,
						"phone_number" : phone
                    }
				const response = await request(request_type, payload, endpoint);
				if (response.status == 1) {
					showmessage('success',response.developer_message,'Success');
					 setTimeout(function() {
						$('.fifth_step').addClass('d-none');
						$('.sixth_step').removeClass('d-none');
						$('.sixth_step').addClass('d-block');
					}, 3000 );
				} else {
					$('.fifth_step_btn').text("Confirm Payment");
					$('.fifth_step_btn').attr('disabled', false);
					showmessage('error',response.developer_message,'Error');
				}
			} catch(err) {
				console.log(err);
			}
		}
})



$(document).ready(function() {
   // Code here
   fetch_airports().then(r => '');
	async function fetch_airports() {
			try {
				const endpoint = 'get_airports';
				const request_type = 'post';
				const payload = JSON.stringify({
				'province_id': [
					0
					]
				});
				const response = await request(request_type, payload, endpoint);
				var response_data = response['data'];
				$('.from_airports_fetch').empty();
				$('.to_airports_fetch').empty();
				$('.from_airports_fetch').append(`<option value="0">Select Airport</option>`);
				$('.to_airports_fetch').append(`<option value="0">Select Airport</option>`);
				response_data.forEach(function(data) {
					$('.from_airports_fetch').append(`<option value="${data.name}">${data.name}</option>`)
					$('.to_airports_fetch').append(`<option value="${data.name}">${data.name}</option>`)
				})
			} catch(err) {
				console.log(err);
			}
		}
});

$(document).ready(function() {
  // Apply the input mask and validation
  $('#phone-input').inputmask({
    mask: '+31999999999',  // Replace '9' with any allowed digit placeholder
    greedy: false,  // Prevents the user from adding additional characters beyond the mask
    placeholder: ' ',  // Uses a space as a placeholder for optional digits
    clearMaskOnLostFocus: true  // Clears the mask when the input field loses focus
  });

  // Event listener for keyup
  $('#phone-input').on('keyup', function() {
    if ($(this).inputmask('isComplete')) {
      $(this).removeClass('invalid');
      $(this).addClass('valid');
    } else {
      $(this).removeClass('valid');
      $(this).addClass('invalid');
    }
  });
});



</script>

{% endblock %}